body {
    background-image: url('/images/background.jpg'); 
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
}
table, th, td {
    border:1px solid white;
  }


h1,h2,h3,h4,h5, h6 {
    font-family: 'Permanent Marker', serif;
}

body {
    font-family: 'Kalam', serif;
    font-size: 1.2rem;
}
/* Draggable Modal */

.modal-header {
    border-bottom: 0;
}

.modal-body {
    color: #828282 !important;
}

.modal-content {
    background-color: rgb(15 15 15 / 90%);
    box-shadow: 2px 2px 0px 3px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    width: 430px;
}
.dragable_touch {
    cursor: pointer;
}

.minimize {
    padding: 10px 15px 8px;
    border-radius: 8px;
    background-color: rgb(0 0 0 / 0%);
    border: 1px solid rgb(255 255 255 / 14%);
}


.minimize:hover {
    display: block;
    background-color: #000;
}



/* Web3 Modal */

.web3modal-modal-card {
    background-color: #0f0f0f !important;
}


.web3modal-provider-container {
    background-color: #0f0f0f !important;
}

.web3modal-provider-container:hover {
    background-color: #1a1a1a !important;
}

.web3modal-provider-name {
    color: #fff !important;
}

.web3modal-provider-description {
    color: #999 !important;
}

/* Button */

.btn-purple {
   background-color: #8247E5;
   border: 0;
   border-radius: 6px;
   color: white;
   box-shadow: 1px 1px 0px 2px rgb(255 255 255 / 20%);
   padding: 10px 20px 8px 20px;
}
.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus {
    background-color: #8f59eb;
    border: 0;
    color: white;
    cursor: pointer;
 }

 /* link purple */

 .text-purple {
   color: #8247E5 !important;
   text-decoration: none;
 }

 .text-purple:hover {
    color: #8f59eb !important;
    text-decoration: none;
  }

.link-purple {
    color: #8247E5 !important;
}
 
.link-purple:hover {
    color: #8f59eb !important;
}

/* Form Control */

.form-control,
.form-control:focus {
    color: #e5e5e5;
    background-color: #131313;
    border: 1px solid #8247E5;
    padding: 14px 15px;
    font-size: 1.2rem;
}

.form-control:focus {
    border-color: #8f59eb;
    box-shadow: 0 0 0 0.25rem rgb(143 89 235 / 25%);
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8247E5;
    opacity: 0.5;
  }

.badge {
    padding: 4px 6px 2px 6px;
}



/* Word Wall */

.word {
    padding: 20px 10px 10px;
    max-width: 25vw;
    z-index: 999999;
    border-radius: 10px;
    position: relative;
    overflow: visible;
    text-align: center;
}

.word > .blur {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(30px);
    border-radius: 100%;
    z-index:-2;
}

.color-1, .color-1 a {
    color: #F002BC;
}

.color-1 > .blur {
    background-color: rgba(39, 10, 67, 0.9);
}

.color-2, .color-2 a {
    color: #F00202;
}

.color-2 > .blur {
    background-color: rgba(0, 0, 0, 0.9);
}

.color-3, .color-3 a {
    color: #FF5C00;
}
.color-3 > .blur {
    background-color: rgba(6, 24, 36, 0.9);
}

.color-4, .color-4 a {
    color: #14FF00;
}
.color-4 > .blur {
    background-color: rgba(5, 59, 89, 0.9);
}

.color-5, .color-5 a {
    color: #00FFFF;
}
.color-5 > .blur {
    background-color: rgba(7, 5, 89, 0.9);
}
.color-6, .color-6 a {
    color: #FFFFFF;
}
.color-6 > .blur {
    background-color: rgba(255, 0, 0, 0.9);
}



.font-1 {
    font-family: "Kodchasan", serif;
}

.font-2 {
    font-family: "Press Start 2P", serif;
}

.font-3 {
    font-family: "Titan One", serif;
}

.font-4 {
    font-family: "Black Ops One", serif;
}

.font-5 {
    font-family: "Cabin Sketch", serif;
}

.font-6 {
    font-family: "Reggae One", serif;
}

.size-1 {
    max-width: 10vw;
}

.size-1 p {
    font-size: 0.6rem;
}

.size-2 {
    max-width: 15vw;
}
.size-2 p {
    font-size: 0.8rem;
}

.size-3 {
    max-width: 20vw;
}
.size-3 p {
    font-size: 1rem;
}

.size-4 {
    max-width: 25vw;
}
.size-4 p {
    font-size: 1.2rem;
}

.size-5 {
    max-width: 30vw;
}
.size-5 p {
    font-size: 1.4rem;
}

.size-6 {
    max-width: 30vw;
}
.size-6 p {
    font-size: 1.6rem;
}

.row.dev > div {
    border: 1px solid #999;
    color: #999;
}

#easterEgg .modal-content {
    width: 460px;
}

.footer-style {
    text-shadow: 1px 1px 0px #000;
    background-color: rgb(15 15 15 / 90%);
    box-shadow: 2px 2px 0px 3px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    z-index: 9999999;
}
